<div id="<%= dom_id form %>">
  <p>
    <strong>Name:</strong>
    <%= form.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= form.description %>
  </p>

  <p>
    <strong>Procesamiento de la tarea</strong>
    <%= form.processed_in_job %>
  </p>

</div>