<div  >
    <p class="mb-10" style="color: green"><%= notice %></p>


    <!-- recordar que si uso el primero quito el # y pongo = -->
    <%# render partial: 'form', locals: { form: @form } %>

    <%= render @form%>
<div>

